<script>
  class NormalRunner {
    constructor(parser) {
      this.parser = parser;
      this.handles = [];

      this.__flatten = (arr) => {
        return arr.reduce((flat, toFlatten) => {
          return flat.concat(Array.isArray(toFlatten) ? this.__flatten(toFlatten) : toFlatten);
        }, []);
      }
    }

    run({ ast, request, throttle, callbacks }) {
      const { states, returnValue, actualReturnValue } = this._interpret(ast, request);
      this._runWithThrottle(states, { returnValue, actualReturnValue }, throttle, request, callbacks);
    }

    clear() {
      this.handles.forEach(clearInterval);
      this.handles = [];
    }

    _runWithThrottle(states, { returnValue, actualReturnValue }, throttle, request, { onResult, onStop, onReturnValue }) {
      const _onResult = (state) => onResult(state.board || state, state);

      const _onEnd = () => {
        onStop("end");
        onReturnValue(returnValue, actualReturnValue);
      }

      const firstState = states[0];
      _onResult(firstState);
      if (states.length === 1) return _onEnd();

      if (throttle === 0) {
        const initialBoardTime = request.initialBoardTime || 0;

        setTimeout(() => {
          const lastState = states[states.length - 1];
          _onResult(lastState);
          _onEnd();
        }, initialBoardTime);

        return;
      }

      this.handles = states.slice(1).map((state, i) => {
        const ii = i + 1;

        return setTimeout(() => {
          _onResult(state);
          if (ii === states.length - 1) _onEnd();
        }, ii * throttle)
      });
    }

    _interpret(ast, { initialState, code }) {
      try {
        var result = this.parser.interpret(ast.program, initialState);
        return {
          states: this._getStates(result, ast),
          returnValue: result.returnValue,
          actualReturnValue: result.actualReturnValue
        };
      } catch (e) {
        e.location = this.parser.getErrorLineAndMode(e, code);
        return {
          states: this._getStates(e, ast, { error: e })
        };
      }
    }

    _getActionsOf(ast) {
      return this.__flatten(Object.values(
        this.parser.getActionsFromAst(ast)
      )).map(it => it.name);
    }

    _getStates(result, ast, lastState = []) {
      const studentAtomic = this._getActionsOf(ast.main).filter((it) =>
        ast.main.getAttributes(it).atomic != null
      );
      const teacherAtomic = this._getActionsOf(ast.teacher).filter((it) =>
        ast.main.getAttributes(it).nonatomic == null
      );
      const atomicActions = studentAtomic.concat(teacherAtomic);

      const snapshots = result.snapshots;
      return snapshots
        .filter((snapshot, i) => {
          const toName = (it) => it.split("-")[0];

          const prevNames = snapshot.contextNames.slice(0, snapshot.contextNames.length - 1);
          const lastName = snapshot.contextNames[snapshot.contextNames.length - 1];

          let topIgnoredName = prevNames.find((it) =>
            atomicActions.includes(toName(it))
          ) || lastName;

          const hasToIgnoreIt = atomicActions.includes(toName(topIgnoredName));

          const isTheLastOcurrence = snapshots.slice(i + 1).every(futureSnapshot =>
            !futureSnapshot.contextNames.includes(topIgnoredName)
          );

          const isShowable = !hasToIgnoreIt || isTheLastOcurrence;

          return isShowable;
        }).concat(lastState);
    }
  }
</script>
